.tweets-container {
  width: 100%;
}

.tweet-article {
  border: #545149 4px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tweet-article:hover {
  box-shadow: 10px 5px 5px green;
}

.flag:hover {
  color: green;
}

.retweet:hover {
  color: green;
}

.heart:hover {
  color: green;
}

.tweet-article header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 18%;
  align-items:center;
}


.tweet-article p {
  margin: 0;
  color: #545149;
  font-weight: 600;
  border: 0;
  border-bottom: #545149 solid 4px;
}

.tweet-article footer {
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
  justify-content:space-between;
  flex-basis: 15%;
}