nav {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 24px;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content:space-between;
  position:fixed;
  top: 0;
  width: 100vw;
}

.tweeter {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.WriteANewTweet {
  display: flex;
  cursor: pointer;
}

.text-bold {
  font-weight: 600;
}

.angleDoubleDown {
  color: red;
  display: flex;
  justify-content:center;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 40vw;
  background-color: green;
  margin-top: 180px;
  margin-left: 36px;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

.main-header img {
  flex-basis: 25%;
}

@media only screen and (max-width: 1024px) {
  nav {
    background-color: green;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  }
  .main-header {
    margin-top: 120px;
    width: 100%;
    margin-left: 0;
  }
}
