nav {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 24px;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content:space-between;
  position:fixed; /* changed from absolute */
  top: 0;
  /* left: 0; */
  width: 100vw;
  border: red 4px dotted;
}

.tweeter {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.WriteANewTweet {
  display: flex;
  cursor: pointer;
}

.text-bold {
  font-weight: 600;
}

.angleDoubleDown {
  color: red;
  display: flex;
  justify-content:center;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 400px;
  width: 40vw;
  background-color: green;
  /* width: 100%; */
  margin-top: 180px;
  margin-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  /* border: pink 4px dotted; */
}

@media only screen and (max-width: 1024px) {
  
  nav {
    background-color: green;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  }

  .main-header {
    margin-top: 120px;
    width: 100%;
    margin-left: 0;
    
  }

}



.main-header img {
  border:pink 4px dotted;
  flex-basis: 25%;
}

.user-name {

  border:pink 4px dotted;
}
