.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error {
  width: 80%;
  border: red 5px solid;
  text-align: center;
  font-weight: 600;
  font-size: 150%;
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-tweet h2 {
  /* text-align: center; remove this if want text not aligned center */
}

#tweet-entry-area {
  width: 80%; /*width of parent area as a percentage*/
}

#tweet-text {
  color: #545149;
  font-weight: 600;
  border: 0;
  border-bottom: #545149 solid 4px;
  background-color: #f4f1ec;
  width: 100%; /*width of parent area as a percentage*/
  margin-top: 20px;
}

.submit-tweet {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

#tweet-button {
  color: #FFFFFF;
  background-color: #4056A1;
}
